# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.zip
.DS_Store
venv/
swinir/datasets/
swinir/__MACOSX/
swinir/fr_verification/selected_identities
swinir/fr_verification/query
swinir/fr_verification/truth
swinir/fr_verification/ground_truth_embeddings
ignore/